.wrap3 {
    background-color: color(black-color);
    color: color(white-color);

    .aboutMe {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        column-gap: 40px;
        height: 620px;

        img {
            width: 420px;
            height: 400px;
        }

        .para__2 {
            font-size: 36px;
            text-transform: uppercase;
            font-weight: 300;
        }

        .para__3 {
            line-height: 2;
            font-weight: 400;
            text-align: justify;
            text-align-last: center;
            margin-top: 40px;
            width: 520px;
        }

        .flex {
            display: flex;
            flex-direction: column;
            align-self: center;
        }
    }
}

footer {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color(greenBlue-color);
    color: color(white-color);
}