.backgroundImage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2)), url(/dist/images/guitar.webp);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: color(white-color);

    &__p1 {
        font-size: 24px;
        font-weight: 300;
    }

    &__p2 {
        font-size: 64px;
        margin-top: 10px;
    }

    &__line {
        color: color(white-color);
        position: relative;
        margin-top: 20px;
        opacity: 0.4;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            right: 50%;
            transform: translate(-50%, -50%);
            height: 0;
            width: 249px;
            border-bottom: 1px solid color(white-color);
        }
    }

    &__btn {
        width: 180px;
        height: 50px;
        background-color: color(red-color);
        margin-top: 30px;
        border: 1px solid color(red-color);
        border-radius: 5px;
        color: color(white-color);
        text-transform: uppercase;
    }
}