.wrap2 {
    background-color: color(darkBlue-color);
    color: color(white-color);
    
    .latestEvent {
        display: flex;
        justify-content: center;
        column-gap: 0;
        align-items: center;
        margin: auto;
        width: 990px;
        column-gap: 15px;
        height: 500px;

        img {
            width: 500px !important;
            height: 330px !important;
            padding-right: 5px;
        }

        .para__2 {
            font-size: 36px;
            text-transform: uppercase;
            margin-bottom: 40px;
            font-weight: 300;
        }

        .para__3 {
            line-height: 2;
            font-weight: 400;
            text-align: justify;
            text-align-last: center;
        }

        .flex {
            display: flex;
            flex-direction: column;
        }
    }
}