$breakpoints: (
    "small-mobile": 360px,
    "mobile" : 480px,
    "tablet": 768px,
    "laptop": 1024px
);

@mixin small-mobile {
    @media (max-width: map-get($breakpoints, "small-mobile")) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: map-get($breakpoints, "mobile")) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: map-get($breakpoints, "tablet")) {
        @content;
    }
}

@mixin laptop {
    @media (max-width: map-get($breakpoints, "laptop")) {
        @content;
    }
}

@mixin large-laptop {
    @media (max-width: map-get($breakpoints, "large-laptop")) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: map-get($breakpoints, "desktop")) {
        @content;
    }
}

@include laptop {
    // news
    .wrap {
        .latestNews {
            .newsp{
                width: 240px !important;
            }

            .news {
                margin-left: 5px !important;
                margin-right: 5px !important;
            }

            .latestNewsContainer {
                img {
                    width: 240px !important;
                    height: 200px !important;
                }
            }
        }

    }

    // event
    .wrap2 {
        .latestEvent {
            column-gap: 15px;
            width: 740px;
            height: 500px;

            img {
                width: 350px !important;
                height: 230px !important;
                padding-right: 5px;
            }

            .para__2 {
                font-size: 36px;
                text-transform: uppercase;
                margin-bottom: 40px;
                font-weight: 300;
            }

            .para__3 {
                line-height: 2;
                font-weight: 400;
            }

            .flex {
                display: flex;
                flex-direction: column;
            }
        }
    }

    // about
    .wrap3 {
        .aboutMe {
            column-gap: 20px;
            height: 550px;
        
            img {
                width: 300px !important;
                height: 300px;
            }

            .flex{
                .para__3{
                    width: 420px;
                }
            }
        }
    }
}

@include tablet {
    header {
        height: 50px;
        justify-content: space-between;
        padding: 0 20px;
        cursor: pointer;

        .logo {
            a {
                font-size: 0.9rem;
                margin-left: 50px;
            }

            .div {
                border: 3px solid color(white-color);
            }
        }

        .header__toggle {
            display: inline;
            color: color(white-color);
            font-size: 24px;
        }

        .header__close {
            position: absolute;
            right: 24px;
            display: block;
            font-size: 24px;
            border-radius: 50%;
        }
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        color: color(white-color);
        width: 30%;
        height: 100vh;
        padding: 24px 0;
        transition: all 0.5s ease;
        background-color: color(black-color);

        .nav__list {
            display: flex;
            flex-direction: column;
            margin-left: 0;
            margin-top: 120px;

            .nav__item {
                margin: 30px 0;
            }
        }
    }

    .backgroundImage {
        background-position: bottom;
        height: 70vh;

        &__p1 {
            font-size: 20px;
        }

        &__p2 {
            font-size: 50px;
            margin-top: 5px;
        }

        &__line {
            padding: 0;
            margin-top: 20px;
        }

        &__btn {
            width: 120px;
            height: 50px;
            margin-top: 20px;
        }
    }

    //latest news
    .latestNews {
        height: 200% !important;

        .latestNewsContainer {
            @include flexCenter(column);
            line-height: 1.5;
            height: 200% !important;
            padding-top: 20px;
        
            .news{
                img {
                    width: 400px !important;
                height: 250px !important;
                    }

                .newsp {
                    width: 400px !important;
                }
            }
        }
    }

    // latest event
    .wrap2 {
        .latestEvent {
        width: 90%;
        @include flexCenter(column);
        height: 680px !important;
    
            img {
                width: 410px !important;
                height: 350px !important;
                padding-bottom: 50px;
            }
    
            .flex {
                display: flex;
                flex-direction: column;
                padding-bottom: 20px !important;
        
                .para__2 {
                    margin-top: 50px;
                    text-align: center;
                }
            }
        }
    }
           
    // about
    .wrap3 {
        .aboutMe {
            @include flexCenter(column);
            height: 850px;
        
            img {
                margin-top: 70px;
                width: 450px !important;
                height: 400px !important;
                order: 2;
            }
        
            .para__2 {
                font-size: 30px;
                text-transform: uppercase;
                margin-top: -60px;
            }
        
            .para__3 {
                width: 90% !important;
                font-size: 14px;
            }
        
            .flex {
                display: flex;
                justify-content: center;
                align-items: center;
                order: 1;
            }
        }
    }
    
    .contact {
        display: flex;
    }
}

@include mobile {
    // homepage
    .backgroundImage{
        height: 40vh;

        &__p1 {
            font-size: 18px;
        }
    
        &__p2 {
            font-size: 40px;
            margin-top: 10px;
        }

        &__btn {
            width: 100px !important;
            height: 40px;
        }
    }

    //event
    .wrap2 {
        .latestEvent {
            img {
                width: 400px !important;
                height: 300px !important;
            
            }
        }
    }

    //about
    .wrap3 {
        .aboutMe {
            height: 750px !important;

            img {
                width: 400px !important;
                height: 330px !important;
            }

            .flex {
                display: flex;
                flex-direction: column;
                margin-left: 0;
            }
        }
    }

    .contact {
        @include gridCenter(5px);
    }
}

@include small-mobile {
    // news
    .latestNews {
        .latestNewsContainer {
            .news{
                img {
                    width: 320px !important;
                    height: 190px !important;
                }

                .newsp {
                    width: 320px !important;
                    text-align-last: center;
                }
            }
        }

        .news__par {
            font-size: 22px !important;
        }
    }

    //event
    .wrap2 {
        .latestEvent {
            display: flex;
            justify-content: flex-start;
            height: 600px !important;
            
            img {
                
                width: 320px !important;
                height: 250px !important;
            }

            .para__2{
                font-size: 22px;
            }
        }
    }

	//about
    .wrap3 {
        .aboutMe {
            img {
                width: 320px !important;
                height: 270px !important;
            }
        }
    }
}