.wrap {
    background-color: color(black-color);
    color: color(white-color);

    .latestNews {
        height: 700px;
        width: 100%;
    
        .news__par {
            padding-top: 50px;
            font-size: 36px;
            display: flex;
            justify-content: center;
            font-weight: 300;
            text-transform: uppercase;
        }

        .latestNewsContainer {
            height: 700px;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 1.5;
            padding-bottom: 100px;

            .news{
                margin-left: 10px;
                margin-right: 10px;
            }

            img{
                width: 310px;
                height: 203px;
            }

            .arrow {
                border: 1px solid color(greenBlue-color);
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
            }

            .right {
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }

            .arrow2 {
                border: 1px solid color(red-color);
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
            }

            .right2 {
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }

            .readMore {
                display: inline-block;
                margin-top: 40px;
                font-size: 14px;
                font-weight: 500;
                color: color(white-color);
                text-decoration: none;
                margin-bottom: 70px;
            }

            .newsTitle {
                font-size: 24px;
                font-weight: 500;
            }

            .date {
                font-weight: 400;
                font-size: 12px;
            }
        }
    }
}